/* Write your CSS here */
.todo-item {
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  background-color: white;
}
/* .inner-container {
  background-color: white;
} */
.delete-btn {
  background-color: white;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.title {
  margin-left: 5px;
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  width: 550px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
  .delete-btn {
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    margin-left: 32px;
  }
}
.button {
  color: #ff0b37;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border: 1px solid #ff0b37;
  border-radius: 9px;
  outline: none;
  cursor: pointer;
  padding: 4px 8px 4px 8px;
}
.editButton {
  color: #3b82fb;
  background-color: white;
  border: 1px solid #3b82fb;
  border-radius: 10px;
  height: 25px;
  width: 54px;
  margin-right: 10px;
}
